version: '{build}-{branch}'

platform:
  - x64

clone_depth: 5

environment:
  matrix:
    - RUBY_VERSION: 24
    - RUBY_VERSION: 25
    - RUBY_VERSION: 26
    - RUBY_VERSION: 27

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rake