name: Ubuntu

on: [workflow_dispatch, push, pull_request]

jobs:
  test:
    strategy:
      matrix: 
        os: [ ubuntu-16.04, ubuntu-18.04 ]
        ruby: [ '2.4', '2.5', '2.6', '2.7' ]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: bundle exec rake
